In [752]:
#importation des modules nécessaire au traitement

In [ ]:
import pandas as pd
import numpy as np
from collections import Counter

In [753]:
#Importation du ficher brut

In [833]:
data_url='GSAF5.csv'

In [834]:
data_brute = pd.read_csv(data_url, sep=',', encoding='latin', header=0, )
data_brute.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [835]:
"""Création d'un fichier avec uniquement les adresses URL des rapports d'attaques et amélioration du fichier. 
Ce fichier permet de sauvegarder les informations qui ont permis de créer la dataframe"""

In [836]:
ref_fichiers = data_brute[['original order','Case Number.1','href formula','href']]

ref_fichiers.head()

,original order,Case Number.1,href formula,href
0,5993,2016.09.18.c,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1,5992,2016.09.18.b,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2,5991,2016.09.18.a,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3,5990,2016.09.17,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4,5989,2016.09.16,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [837]:
#renommer les colonnes pour plus de clareté et d'homogénéité

In [838]:
myList = list(ref_fichiers.columns); myList[0] = 'Original order'; myList[1] = 'Case Number'; myList[2] = 'URL Report1'; myList[3] = 'URL Report2'; ref_fichiers.columns = myList
ref_fichiers.head()

,Original order,Case Number,URL Report1,URL Report2
0,5993,2016.09.18.c,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1,5992,2016.09.18.b,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2,5991,2016.09.18.a,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3,5990,2016.09.17,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4,5989,2016.09.16,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [839]:
#suppression des duplicats

In [840]:
ref_fichiers['Original order'].is_unique

False

In [892]:
#ref_fichiers['Original order'].nunique()

5988

In [ ]:
#suppression des duplicats

In [895]:
ref_fichiers.drop_duplicates(subset=['Original order'], inplace=True)
ref_fichiers['Original order'].is_unique

/Users/julieG/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

True

In [896]:
#exportation du fichier de références

In [897]:
ref_fichiers.to_csv('ref_reports.csv', index=False)

In [843]:
#1-Création d'un fichier avec les colonnes qui me sembles être les plus intéressantes, placer original order en premier qui compte le nombre d'incident

In [844]:
data_select=data_brute[['original order','Case Number','Date', 'Year', 'Country', 'Area', 'Location', 'Activity', 'Sex ', 'Species ', 'Injury', 'Fatal (Y/N)', 'Investigator or Source']]

In [845]:
#2-renommer les colonnes pour plus de clareté et d'homogénéité

In [846]:
colonne = list(data_select.columns); colonne[0] = 'Original order'; colonne[8] = 'Sex';colonne[9] = 'Species'; data_select.columns = colonne
data_select.head()

,Original order,Case Number,Date,Year,Country,Area,Location,Activity,Sex,Species,Injury,Fatal (Y/N),Investigator or Source
0,5993,2016.09.18.c,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,NaN,Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016"
1,5992,2016.09.18.b,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,NaN,Lacerations to hands,N,"Orlando Sentinel, 9/19/2016"
2,5991,2016.09.18.a,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,NaN,Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016"
3,5990,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NaN,Struck by fin on chest & leg,N,"The Age, 9/18/2016"
4,5989,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,Surfing,M,2 m shark,No injury: Knocked off board by shark,N,"The Age, 9/16/2016"

In [847]:
#3-suppression des lignes en double

In [848]:
data_select['Original order'].is_unique

False

In [849]:
data_select['Original order'].nunique()

5988

In [851]:
data_select.drop_duplicates(subset=['Original order'], inplace=True)

/Users/julieG/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [852]:
data_select['Original order'].is_unique

True

In [853]:
data_select.head()

,Original order,Case Number,Date,Year,Country,Area,Location,Activity,Sex,Species,Injury,Fatal (Y/N),Investigator or Source
0,5993,2016.09.18.c,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,NaN,Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016"
1,5992,2016.09.18.b,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,NaN,Lacerations to hands,N,"Orlando Sentinel, 9/19/2016"
2,5991,2016.09.18.a,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,NaN,Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016"
3,5990,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NaN,Struck by fin on chest & leg,N,"The Age, 9/18/2016"
4,5989,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,Surfing,M,2 m shark,No injury: Knocked off board by shark,N,"The Age, 9/16/2016"

In [854]:
#4-recherche de valeurs nulles et suppression des colonnes contenant environ plus de 10% de valeurs manquantes

In [899]:
null_cols = data_select.isnull().sum()
print(null_cols)

Original order             0
Case Number                0
Date                       0
Year                       0
Country                    0
Area                       0
Location                   0
Injury                     0
Fatal (Y/N)                0
Investigator or Source     0
Date_propre               36
dtype: int64

In [900]:
drop_cols = list(null_cols[null_cols > 500].index)
data_select= data_select.drop(drop_cols, axis=1)
data_select.head()
#les colonnes 'Species', 'Activity' et 'Sex' sont supprimées

,Original order,Case Number,Date,Year,Country,Area,Location,Injury,Fatal (Y/N),Investigator or Source,Date_propre
0,5993,2016.09.18.c,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016",2016-09-18
1,5992,2016.09.18.b,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Lacerations to hands,N,"Orlando Sentinel, 9/19/2016",2016-09-18
2,5991,2016.09.18.a,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016",2016-09-18
3,5990,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,Struck by fin on chest & leg,N,"The Age, 9/18/2016",2016-09-17
4,5989,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,No injury: Knocked off board by shark,N,"The Age, 9/16/2016",2016-09-15

In [901]:
#5-supprimer les lignes vides

In [902]:
data_select=data_select.dropna(how='all')

In [903]:
#6-remplir les cases vides

In [904]:
data_select=data_select.fillna('nc.')

In [905]:
#7-supprimer les espaces dans les colonnes de type str

In [908]:
data_select['Country']=data_select['Country'].str.strip() 
data_select['Area']=data_select['Area'].str.strip() 
data_select['Injury']=data_select['Injury'].str.strip() 
data_select['Investigator or Source']=data_select['Investigator or Source'].str.strip()

In [909]:
#8-Recherche et suppression des données incohérentes

In [910]:
#print(set(data_select['Year'])) #aucun souci 
#print(set(data_select['Country'])) 
#print(set(data_select['Type'])), aucun souci 
#print(set(data_select['Fatal (Y/N)']))

In [911]:
#9-Amélioration de la colonne country

In [866]:
data_select['Country']= data_select['Country'].str.replace('\(', '')
data_select['Country']= data_select['Country'].str.replace('\)', '')
data_select['Country']= data_select['Country'].str.replace('Between ', '')
data_select['Country']= data_select['Country'].str.replace('?', '')

In [867]:
#10-Amélioration colonne Fatal

In [868]:
data_select['Fatal (Y/N)'] = data_select['Fatal (Y/N)'].str.replace('#VALUE!', 'nc.')
data_select['Fatal (Y/N)'] = data_select['Fatal (Y/N)'].str.replace('UNKNOWN', 'nc.')
data_select['Fatal (Y/N)'] = data_select['Fatal (Y/N)'].str.replace(' N', 'N')
data_select['Fatal (Y/N)'] = data_select['Fatal (Y/N)'].str.replace('N ', 'N')
data_select['Fatal (Y/N)'] = data_select['Fatal (Y/N)'].str.replace('n', 'N')
data_select['Fatal (Y/N)'] = data_select['Fatal (Y/N)'].str.replace('F', 'Y')

In [912]:
#print(set(data_select['Sex']))
#print(set(data_select['Country']))
#print(set(data_select['Fatal (Y/N)']))
#print(set(data_select['Year']))

In [870]:
#11-Récupération des dates à partir de la colonne "Case Number"

In [ ]:
#11-a: split des éléments de chaque ligne selon "."

In [871]:
data_select["Date_propre"] = data_select["Case Number"].map(lambda x: x.split("."))

In [872]:
#Définition d'une fonctione pour traiter les cas où il y a des "-"
def correct_dashes(l):
    if len(l)==1:
        return l[0].split("-")
    elif len(l)==2:
        all_parts_splitted = []
        for part in l :
            part_splited = part.split("-")
            all_parts_splitted.extend(part_splited)
        return all_parts_splitted
    else:
        return l
    
#Définition d'une fonction qui supprime le dernier élément de chaque ligne qui est une liste
def supp_4ème_element(l):
    for x in l:
        if len(l)==4:
            l.pop()
    return l
        
#Ajout des tirets pour reformer une date au bon format
def join_tiret(l):
    for x in l:
        if len(l)==2:
            return l[0]+'-'+l[1]
        if len(l)==3:
            return l[0]+'-'+l[1]+'-'+l[2]
    
    
data_select["Date_propre"] = data_select["Case Number"].map(lambda x: x.split(".")) #split des éléments de chaque ligne selon "."
data_select["Date_propre"] = data_select["Date_propre"].map(correct_dashes) #split des éléments de chaque ligne selon "-"
data_select["Date_propre"] = data_select["Date_propre"].map(supp_4ème_element) #liste pour laquelle le 4ème élément (lettre) est supprimé
data_select["Date_propre"] = data_select["Date_propre"].map(join_tiret) #string contenant le bon format de date

In [913]:
data_select.head()

,Original order,Case Number,Date,Year,Country,Area,Location,Injury,Fatal (Y/N),Investigator or Source,Date_propre
0,5993,2016.09.18.c,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016",2016-09-18
1,5992,2016.09.18.b,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Lacerations to hands,N,"Orlando Sentinel, 9/19/2016",2016-09-18
2,5991,2016.09.18.a,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016",2016-09-18
3,5990,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,Struck by fin on chest & leg,N,"The Age, 9/18/2016",2016-09-17
4,5989,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,No injury: Knocked off board by shark,N,"The Age, 9/16/2016",2016-09-15

In [ ]:
#travail sur la série investigator or source

In [882]:
investigator = data_select['Investigator or Source']
investigator.head()

0    Orlando Sentinel, 9/19/2016
1    Orlando Sentinel, 9/19/2016
2    Orlando Sentinel, 9/19/2016
3             The Age, 9/18/2016
4             The Age, 9/16/2016
Name: Investigator or Source, dtype: object

In [571]:
investigator_trait= investigator.str.split(',', expand=True)
investigator_trait.head()

,0,1,2,3,4,5,6,7,8,9
0,Orlando Sentinel,9/19/2016,None,None,None,None,None,None,None,None
1,Orlando Sentinel,9/19/2016,None,None,None,None,None,None,None,None
2,Orlando Sentinel,9/19/2016,None,None,None,None,None,None,None,None
3,The Age,9/18/2016,None,None,None,None,None,None,None,None
4,The Age,9/16/2016,None,None,None,None,None,None,None,None

In [876]:
colonne = list(investigator_trait.columns); colonne[0] = 'Source'; colonne[1] = 'Publication_date'; investigator_trait.columns = colonne
investigator_trait.head()

,Source,Publication_date,2,3,4,5,6,7,8,9
0,Orlando Sentinel,9/19/2016,None,None,None,None,None,None,None,None
1,Orlando Sentinel,9/19/2016,None,None,None,None,None,None,None,None
2,Orlando Sentinel,9/19/2016,None,None,None,None,None,None,None,None
3,The Age,9/18/2016,None,None,None,None,None,None,None,None
4,The Age,9/16/2016,None,None,None,None,None,None,None,None

In [878]:
investigator_trait

,Source,Publication_date,2,3,4,5,6,7,8,9
0,Orlando Sentinel,9/19/2016,None,None,None,None,None,None,None,None
1,Orlando Sentinel,9/19/2016,None,None,None,None,None,None,None,None
2,Orlando Sentinel,9/19/2016,None,None,None,None,None,None,None,None
3,The Age,9/18/2016,None,None,None,None,None,None,None,None
4,The Age,9/16/2016,None,None,None,None,None,None,None,None
5,West Australian,9/15/2016,None,None,None,None,None,None,None,None
6,News4Jax,9/11/2016,None,None,None,None,None,None,None,None
7,Hawaii News Now,9/7/2016,None,None,None,None,None,None,None,None
8,TVANouvelles,9/6/2016,None,None,None,None,None,None,None,None
9,C. Creswell,GSAF,None,None,None,None,None,None,None,None
10,Perth Now,9/5/2016,None,None,None,None,None,None,None,None
11,Orlando Sentinel,9/7/2016,None,None,None,None,None,None,None,None
12,R. Collier,GSAF,None,None,None,None,None,None,None,None
13,News Channel 8,8/30/16,None,None,None,None,None,None,None,None
14,News Channel 8,8/30/16,None,None,None,None,None,None,None,None
15,LaDepeche,8/29/2016,None,None,None,None,None,None,None,None
16,First Coast News,7/25/2016,None,None,None,None,None,None,None,None
17,ABC,8/11/2016,None,None,None,None,None,None,None,None
18,SUP,8/9/2015,None,None,None,None,None,None,None,None
19,News 965,8/5/2016,None,None,None,None,None,None,None,None
20,Informacion.es,7/29/2016,None,None,None,None,None,None,None,None
21,Klassick,7/28/2016,None,None,None,None,None,None,None,None
22,ABC Australia,7/28/2016,None,None,None,None,None,None,None,None
23,Tampa Bay Times,7/27/2016,None,None,None,None,None,None,None,None
24,Gold Coast Bulletin,7/28/2016,None,None,None,None,None,None,None,None
25,Japan Times,7/25/2016,None,None,None,None,None,None,None,None
26,C. Black,GSAF,None,None,None,None,None,None,None,None
27,KWTX,7/23/2016,None,None,None,None,None,None,None,None
28,Nine News,7/20/2016,None,None,None,None,None,None,None,None
29,Al.com,7/19/2016,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
5962,V.M. Coppleson (1962),p.257,None,None,None,None,None,None,None,None
5963,Massillon Independent,3/1905,None,None,None,None,None,None,None,None
5964,A. De Maddalena; Anon. (1938),None,None,None,None,None,None,None,None,None
5965,M. N. Kalafatas,None,None,None,None,None,None,None,None,None
5966,Mitchell-Hedges,None,None,None,None,None,None,None,None,None
5967,H. Capper,None,None,None,None,None,None,None,None,None
5968,G. Van Grevelynghe,None,None,None,None,None,None,None,None,None
5969,L. Green in Tavern of the Seas,p.182,None,None,None,None,None,None,None,None
5970,Adelaide Advertiser,1/11/1940,None,None,None,None,None,None,None,None
5971,L. Green in South African Beachcomber,p.97,None,None,None,None,None,None,None,None
5972,V.M. Coppleson (1958),p.241,None,None,None,None,None,None,None,None
5973,T. Helm,p.219,None,None,None,None,None,None,None,None
5974,Daily Kennebec Journal,3/27/1911,None,None,None,None,None,None,None,None
5975,Captain A. Anderson,Natal Mercury,12/31/1921; M. Levine,GSAF,None,None,None,None,None,None
5976,Captain A. Anderson,Natal Mercury,12/31/1921; M. Levine,GSAF,None,None,None,None,None,None
5977,Fijian Society papers presented April 17,1918; W.E.,p.191,None,None,None,None,None,None,None
5978,C. Creswell,GSAF; Wilmington Star,7/17/1916,None,None,None,None,None,None,None
5979,Rural New Yorker,7/19/1913,None,None,None,None,None,None,None,None
5980,Rural New Yorker,7/19/1913,None,None,None,None,None,None,None,None
5981,Ref. J. T. Dubois in N.Y. Sun,3/19/1911,None,None,None,None,None,None,None,None
5982,Captain W. Young,None,None,None,None,None,None,None,None,None
5983,NY Sun,9/9/1906,referring to account by Louis Becke,None,None,None,None,None,None,None
5984,NY Sun,9/9/1906,referring to account by Louis Becke,None,None,None,None,None,None,None
5985,NY Sun,9/9/1906,referring to account by Louis Becke,None,None,None,None,None,None,None
5986,L. Becke in New York Sun,9/9/1906; L. Schultz & M. Malin,p.523,None,None,None,None,None,None,None
5987,H. Taunton; N. Bartlett,p. 234,None,None,None,None,None,None,None,None
5988,H. Taunton; N. Bartlett,pp. 233-234,None,None,None,None,None,None,None,None
5989,F. Schwartz,p.23; C. Creswell,GSAF,None,None,None,None,None,None,None
5990,The Sun,10/20/1938,None,None,None,None,None,None,None,None
5991,S.W. Baker,None,None,None,None,None,None,None,None,None

In [890]:
data_test=data_select.join(investigator_trait, right_index=True, left_index=True)
data_test.head()

TypeError: join() got an unexpected keyword argument 'right_index'

In [574]:
[Time, Times, Daily, LaDepeche, Show, Reader, Online, Orlando]

pattern=r'([A-Za-z])+'.')

re.findall(pattern, )

SyntaxError: EOL while scanning string literal (<ipython-input-574-987d9318751d>, line 3)

In [914]:
data_select.head()

,Original order,Case Number,Date,Year,Country,Area,Location,Injury,Fatal (Y/N),Investigator or Source,Date_propre
0,5993,2016.09.18.c,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Minor injury to thigh,N,"Orlando Sentinel, 9/19/2016",2016-09-18
1,5992,2016.09.18.b,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Lacerations to hands,N,"Orlando Sentinel, 9/19/2016",2016-09-18
2,5991,2016.09.18.a,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Lacerations to lower leg,N,"Orlando Sentinel, 9/19/2016",2016-09-18
3,5990,2016.09.17,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,Struck by fin on chest & leg,N,"The Age, 9/18/2016",2016-09-17
4,5989,2016.09.15,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,No injury: Knocked off board by shark,N,"The Age, 9/16/2016",2016-09-15

In [ ]:
#Exportation du fichier

In [891]:
data_select.to_csv('cleaned.csv', index=False)