# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [203]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [4]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [55]:
#your code
headers = {'Authorization':'token token'}
response = requests.get(url, headers=headers)
html = requests.get(url).content
html[0:600]

b'\n\n\n\n\n\n<!DOCTYPE html>\n<html lang="en">\n  <head>\n    <meta charset="utf-8">\n  <link rel="dns-prefetch" href="https://github.githubassets.com">\n  <link rel="dns-prefetch" href="https://avatars0.githubusercontent.com">\n  <link rel="dns-prefetch" href="https://avatars1.githubusercontent.com">\n  <link rel="dns-prefetch" href="https://avatars2.githubusercontent.com">\n  <link rel="dns-prefetch" href="https://avatars3.githubusercontent.com">\n  <link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com">\n  <link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">\n\n\n\n  <link '

In [56]:
soup = BeautifulSoup(html, "lxml")
#soup

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [134]:
names = soup.find_all('h1',{'class': 'h3 lh-condensed'})
name=[h1.find('a').text for h1 in names]

In [135]:
users = soup.find_all('p', {'class:', 'f4 text-normal mb-1'})
user=[p.find('a').text for p in users]

In [139]:
z = list(zip(name, user))
z

output = [x[0] + ' ('+ x[1]+ ')' for x in z]
output

['Kenneth Reitz (kennethreitz)',
 'Marco Pivetta (Ocramius)',
 'Frank Denis (jedisct1)',
 'Vadim Demedes (vadimdemedes)',
 'Burak Yigit Kaya (BYK)',
 'Norman Maurer (normanmaurer)',
 'Francois Zaninotto (fzaninotto)',
 'Manu MA (manucorporat)',
 'Michał Lytek (19majkel94)',
 'Federico Zivolo (FezVrasta)',
 'David Anthoff (davidanthoff)',
 'Alex Gaynor (alex)',
 'Steven Kirk (grokys)',
 'Mihai Maruseac (mihaimaruseac)',
 'Jason Quense (jquense)',
 'Brent Jackson (jxnblk)',
 '吴晟 Wu Sheng (wu-sheng)',
 '子骅 (luin)',
 'Thomas Wolf (thomwolf)',
 'Uri Goldshtein (Urigo)',
 'Ivan Popelyshev (ivanpopelyshev)',
 'Vinta Chen (vinta)',
 'Pascal Vizeli (pvizeli)',
 'Jens Segers (jenssegers)',
 'Vsevolod Tolstopyatov (qwwdfsad)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [140]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [144]:
#your code
headers = {'Authorization':'token token'}
response = requests.get(url, headers=headers)
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")
#soup

In [163]:
repos = soup.find_all('h1',{'class': 'h3 lh-condensed'})
repos
repo=[h1.find('a').text for h1 in repos]
repo

['\n\n0voice / interview_internal_reference\n',
 '\n\nzllrunning / video-object-removal\n',
 '\n\nhuggingface / pytorch-transformers\n',
 '\n\nNVIDIA / DeepLearningExamples\n',
 '\n\nvipstone / faceai\n',
 '\n\nfoolwood / SiamMask\n',
 '\n\nhome-assistant / home-assistant\n',
 '\n\nmicrosoft / nni\n',
 '\n\nwistbean / learn_python3_spider\n',
 '\n\nTencent / NeuralNLP-NeuralClassifier\n',
 '\n\nopenai / gym\n',
 '\n\ncchen156 / Learning-to-See-in-the-Dark\n',
 '\n\ndanaugrs / huskarl\n',
 '\n\nvincent-thevenin / Realistic-Neural-Talking-Head-Models\n',
 '\n\nPaddlePaddle / models\n',
 '\n\nopenatx / uiautomator2\n',
 '\n\nthtrieu / darkflow\n',
 '\n\nchinese-poetry / chinese-poetry\n',
 '\n\nAzure / azure-sdk-for-python\n',
 '\n\nidealo / image-super-resolution\n',
 '\n\nawslabs / gluon-ts\n',
 '\n\nRayhane-mamah / Tacotron-2\n',
 '\n\ngogcom / galaxy-integrations-python-api\n',
 '\n\nsergiomsilva / alpr-unconstrained\n',
 '\n\nmlflow / mlflow\n']

In [164]:
type(repo)

list

In [172]:
repo_propre = []
for r in repo:
    r = r.replace("\n\n", "")
    r = r.replace("\n", "")
    #print(r)
    repo_propre.append(r)

repo_propre

['0voice / interview_internal_reference',
 'zllrunning / video-object-removal',
 'huggingface / pytorch-transformers',
 'NVIDIA / DeepLearningExamples',
 'vipstone / faceai',
 'foolwood / SiamMask',
 'home-assistant / home-assistant',
 'microsoft / nni',
 'wistbean / learn_python3_spider',
 'Tencent / NeuralNLP-NeuralClassifier',
 'openai / gym',
 'cchen156 / Learning-to-See-in-the-Dark',
 'danaugrs / huskarl',
 'vincent-thevenin / Realistic-Neural-Talking-Head-Models',
 'PaddlePaddle / models',
 'openatx / uiautomator2',
 'thtrieu / darkflow',
 'chinese-poetry / chinese-poetry',
 'Azure / azure-sdk-for-python',
 'idealo / image-super-resolution',
 'awslabs / gluon-ts',
 'Rayhane-mamah / Tacotron-2',
 'gogcom / galaxy-integrations-python-api',
 'sergiomsilva / alpr-unconstrained',
 'mlflow / mlflow']

#### Display all the image links from Walt Disney wikipedia page

In [188]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [189]:
#your code
response = requests.get(url)
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")
#soup

In [190]:
img = soup.find_all('img')
img

[i.get('src') for i in img]

['//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/1/1b/Semi-protection-shackle.svg/20px-Semi-protection-shackle.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Disney_Display_Case.JPG/170px-Disney_Display_Case.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/30px-Animation_disc.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/29px-P_vip.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/30px-Video-x-generic.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/30px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/USA_flag_on_television.svg/30px-USA_flag_on_television.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/22px-Commons-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/25px-Wikiquote-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/30px-Wikidata-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1',
 '/static/images/wikimedia-button.png',
 '/static/images/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [195]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [196]:
#your code
response = requests.get(url)
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")
#soup

In [492]:
links = soup.find_all('a')
links

liste =  []
for l in links:
    if l.get('href') and l.get('title'):
        liste.append(l.get('href'))

#print(liste)

#### Number of Titles that have changed in the United States Code since its last release point

In [494]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [497]:
#your code
response = requests.get(url)
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")
#soup

In [503]:
titles = soup.find_all('div', {'class':'usctitlechanged'})
titles

liste_title = [title.text for title in titles]
liste_title
len(liste_title)

15

#### A Python list with the top ten FBI's Most Wanted names

In [504]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [505]:
#your code 
response = requests.get(url)
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")
#soup

In [509]:
find_names = soup.find_all('h3', {'class':'title'})
find_names

names = [name.text for name in find_names]
names

liste_names = []
for name in names:
    n = name.replace("\n", "")
    liste_names.append(n)
print(liste_names)

['ARNOLDO JIMENEZ', 'ALEJANDRO ROSALES CASTILLO', 'YASER ABDEL SAID', 'JASON DEREK BROWN', 'RAFAEL CARO-QUINTERO', 'ALEXIS FLORES', 'EUGENE PALMER', 'SANTIAGO VILLALBA MEDEROS', 'ROBERT WILLIAM FISHER', 'BHADRESHKUMAR CHETANBHAI PATEL']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [394]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [395]:
#your code
response = requests.get(url)
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")
#soup

In [396]:
tableau = soup.find_all('table')[3]
#tableau
#type(tableau)

In [468]:
rows = tableau.find('tbody').find_all('tr')
rows = [[td.text for td in row.contents] for row in rows]
rows
#print(rows)
#type(rows)
df_row = pd.DataFrame(rows)
df_row.shape

(50, 13)

In [469]:
df_row.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,,,,earthquake2019-07-22 16:31:06.919min ago,35.53,N,117.36,W,8,ML,2.6,SOUTHERN CALIFORNIA,2019-07-22 16:41
1,55,,IV,earthquake2019-07-22 16:26:56.124min ago,34.00,N,116.05,W,8,Mw,4.2,SOUTHERN CALIFORNIA,2019-07-22 16:47
2,,,,earthquake2019-07-22 15:52:06.058min ago,20.86,S,69.10,W,106,ML,3.2,"TARAPACA, CHILE",2019-07-22 16:25
3,,,,earthquake2019-07-22 15:30:41.01hr 20min ago,30.56,S,71.31,W,59,ML,3.1,"COQUIMBO, CHILE",2019-07-22 15:38
4,1,,,earthquake2019-07-22 15:27:36.71hr 23min ago,35.89,N,117.74,W,8,ML,2.2,CENTRAL CALIFORNIA,2019-07-22 15:29

In [470]:
df_row[3] = df_row[3].apply(lambda x: x.replace("earthquake", ""))
df_row.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,,,,2019-07-22 16:31:06.919min ago,35.53,N,117.36,W,8,ML,2.6,SOUTHERN CALIFORNIA,2019-07-22 16:41
1,55,,IV,2019-07-22 16:26:56.124min ago,34.00,N,116.05,W,8,Mw,4.2,SOUTHERN CALIFORNIA,2019-07-22 16:47
2,,,,2019-07-22 15:52:06.058min ago,20.86,S,69.10,W,106,ML,3.2,"TARAPACA, CHILE",2019-07-22 16:25
3,,,,2019-07-22 15:30:41.01hr 20min ago,30.56,S,71.31,W,59,ML,3.1,"COQUIMBO, CHILE",2019-07-22 15:38
4,1,,,2019-07-22 15:27:36.71hr 23min ago,35.89,N,117.74,W,8,ML,2.2,CENTRAL CALIFORNIA,2019-07-22 15:29

In [471]:
df_row[3] = df_row[3].apply(lambda x: x[0:21])
df_row.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,,,,2019-07-22 16:31:06,35.53,N,117.36,W,8,ML,2.6,SOUTHERN CALIFORNIA,2019-07-22 16:41
1,55,,IV,2019-07-22 16:26:56,34.00,N,116.05,W,8,Mw,4.2,SOUTHERN CALIFORNIA,2019-07-22 16:47
2,,,,2019-07-22 15:52:06,20.86,S,69.10,W,106,ML,3.2,"TARAPACA, CHILE",2019-07-22 16:25
3,,,,2019-07-22 15:30:41,30.56,S,71.31,W,59,ML,3.1,"COQUIMBO, CHILE",2019-07-22 15:38
4,1,,,2019-07-22 15:27:36,35.89,N,117.74,W,8,ML,2.2,CENTRAL CALIFORNIA,2019-07-22 15:29

In [472]:
df_row = df_row.drop(df_row.columns[[0,1,2,9,12]], axis = 1)
#df_row
#df_row.drop(df_row.columns[[0, 2]], axis='columns')

In [473]:
df_row.head()

,3,4,5,6,7,8,10,11
0,2019-07-22 16:31:06,35.53,N,117.36,W,8,2.6,SOUTHERN CALIFORNIA
1,2019-07-22 16:26:56,34.00,N,116.05,W,8,4.2,SOUTHERN CALIFORNIA
2,2019-07-22 15:52:06,20.86,S,69.10,W,106,3.2,"TARAPACA, CHILE"
3,2019-07-22 15:30:41,30.56,S,71.31,W,59,3.1,"COQUIMBO, CHILE"
4,2019-07-22 15:27:36,35.89,N,117.74,W,8,2.2,CENTRAL CALIFORNIA

In [474]:
df_row[4]=df_row[4]+df_row[5]
df_row[6]=df_row[6]+df_row[7]
df_row.head()

,3,4,5,6,7,8,10,11
0,2019-07-22 16:31:06,35.53 N,N,117.36 W,W,8,2.6,SOUTHERN CALIFORNIA
1,2019-07-22 16:26:56,34.00 N,N,116.05 W,W,8,4.2,SOUTHERN CALIFORNIA
2,2019-07-22 15:52:06,20.86 S,S,69.10 W,W,106,3.2,"TARAPACA, CHILE"
3,2019-07-22 15:30:41,30.56 S,S,71.31 W,W,59,3.1,"COQUIMBO, CHILE"
4,2019-07-22 15:27:36,35.89 N,N,117.74 W,W,8,2.2,CENTRAL CALIFORNIA

In [475]:
df_row=df_row.drop(df_row.columns[[2,4]], axis = 1)
df_row.head()

,3,4,6,8,10,11
0,2019-07-22 16:31:06,35.53 N,117.36 W,8,2.6,SOUTHERN CALIFORNIA
1,2019-07-22 16:26:56,34.00 N,116.05 W,8,4.2,SOUTHERN CALIFORNIA
2,2019-07-22 15:52:06,20.86 S,69.10 W,106,3.2,"TARAPACA, CHILE"
3,2019-07-22 15:30:41,30.56 S,71.31 W,59,3.1,"COQUIMBO, CHILE"
4,2019-07-22 15:27:36,35.89 N,117.74 W,8,2.2,CENTRAL CALIFORNIA

In [476]:
cols = tableau.find('thead').find_all('tr')[1]
cols
cols = [col.text.strip().split("\n") for col in cols]
#rows = [[td.text for td in row.contents] for row in rows]
cols = cols[1:7]
cols

[['Date & Time UTC'],
 ['Latitude degrees'],
 ['Longitude degrees'],
 ['Depth km'],
 ['Mag  [+]'],
 ['Region name  [+]']]

In [490]:
colnames = cols[0:6]
data = df_row[0:21]
colnames = [col[0] for col in colnames]
data.columns = colnames

In [491]:
data

,Date & Time UTC,Latitude degrees,Longitude degrees,Depth km,Mag [+],Region name [+]
0,2019-07-22 16:31:06,35.53 N,117.36 W,8,2.6,SOUTHERN CALIFORNIA
1,2019-07-22 16:26:56,34.00 N,116.05 W,8,4.2,SOUTHERN CALIFORNIA
2,2019-07-22 15:52:06,20.86 S,69.10 W,106,3.2,"TARAPACA, CHILE"
3,2019-07-22 15:30:41,30.56 S,71.31 W,59,3.1,"COQUIMBO, CHILE"
4,2019-07-22 15:27:36,35.89 N,117.74 W,8,2.2,CENTRAL CALIFORNIA
5,2019-07-22 15:25:50,41.39 N,13.90 E,9,2.3,SOUTHERN ITALY
6,2019-07-22 15:20:17,35.65 N,117.46 W,3,2.1,SOUTHERN CALIFORNIA
7,2019-07-22 14:23:10,36.30 N,4.23 E,10,3.9,NORTHERN ALGERIA
8,2019-07-22 13:59:38,0.10 S,123.14 E,120,3.7,"SULAWESI, INDONESIA"
9,2019-07-22 13:58:11,21.62 S,68.48 W,128,3.0,"ANTOFAGASTA, CHILE"
10,2019-07-22 13:53:06,52.62 N,172.57 E,29,4.4,"NEAR ISLANDS, ALEUTIAN ISLANDS"
11,2019-07-22 13:52:07,37.56 N,20.72 E,1,2.9,IONIAN SEA
12,2019-07-22 13:51:32,35.92 N,117.71 W,2,2.1,CENTRAL CALIFORNIA
13,2019-07-22 13:50:03,19.98 S,69.23 W,101,3.1,"TARAPACA, CHILE"
14,2019-07-22 13:29:20,36.08 N,117.85 W,2,2.8,CENTRAL CALIFORNIA
15,2019-07-22 13:16:58,45.64 N,26.59 E,140,2.9,ROMANIA
16,2019-07-22 12:42:48,36.11 N,117.88 W,4,2.4,CENTRAL CALIFORNIA
17,2019-07-22 12:32:15,42.75 N,87.65 E,10,4.7,"NORTHERN XINJIANG, CHINA"
18,2019-07-22 12:14:21,31.87 S,178.00 W,10,4.9,KERMADEC ISLANDS REGION
19,2019-07-22 12:13:33,39.26 N,111.93 W,6,2.3,UTAH
20,2019-07-22 12:03:31,37.47 N,44.08 E,7,2.1,TURKEY-IRAN-IRAQ BORDER REGION

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [511]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

fichier = 'hack-page.html'

'hack-page.html'

In [522]:
from __future__ import division, unicode_literals 
import codecs
from bs4 import BeautifulSoup

f=codecs.open("hack-page.html", 'r', 'utf-8')
document= BeautifulSoup(f.read())
#print(document)

In [534]:
#your code
code_title = document.find_all('h3')
code_title

title = [title.text for title in code_title]
title

code_date = document.find_all('p')
code_date

test = code_date.findNext('p')
#names = [name.text for name in find_names]
#names

AttributeError: ResultSet object has no attribute 'findNext'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [ ]:
#your code

#### A list with the different kind of datasets available in data.gov.uk

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [ ]:
#your code

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [ ]:
#your code

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code