In [1]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize
from bs4 import BeautifulSoup

In [9]:
url = 'https://api.tronalddump.io/search/quote?query=women'

In [10]:
response = requests.get(url)
response

In [12]:
results = response.json()
#results

In [32]:
flattened_data = json_normalize(results)
flattened_data.head()
#type(flattened_data)

,_embedded.quotes,_links.first.href,_links.last.href,_links.prev.href,_links.self.href,count,total
0,"[{'appeared_at': '1999-11-01T00:00:00', 'creat...",/search/quote?query=women,/search/quote?query=women&page=1,/search/quote?query=women,/search/quote?query=women,13,13

In [43]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data


quotes = pd.DataFrame(flattened_data['_embedded.quotes'])
quotes.head()

nested_columns = ['_embedded.quotes']
quotes_fl=flatten(quotes, nested_columns)
quotes_fl

,_embedded.quotes_0,_embedded.quotes_1,_embedded.quotes_2,_embedded.quotes_3,_embedded.quotes_4,_embedded.quotes_5,_embedded.quotes_6,_embedded.quotes_7,_embedded.quotes_8,_embedded.quotes_9,_embedded.quotes_10,_embedded.quotes_11,_embedded.quotes_12
0,"{'appeared_at': '1999-11-01T00:00:00', 'create...","{'appeared_at': '1997-11-24T00:00:00', 'create...","{'appeared_at': '2016-05-06T12:38:38', 'create...","{'appeared_at': '2016-05-22T19:37:05', 'create...","{'appeared_at': '2016-06-06T13:23:54', 'create...","{'appeared_at': '2016-05-17T11:58:10', 'create...","{'appeared_at': '2015-12-23T14:20:57', 'create...","{'appeared_at': '2016-05-17T11:46:22', 'create...","{'appeared_at': '2016-01-02T20:04:58', 'create...","{'appeared_at': '2015-08-22T22:19:05', 'create...","{'appeared_at': '2016-10-10T01:23:22', 'create...","{'appeared_at': '2016-05-17T23:42:33', 'create...","{'appeared_at': '2013-05-08T00:00:00', 'create..."

In [59]:
e0 = pd.DataFrame(quotes_fl['_embedded.quotes_0'])
e0.head()

nested_columns = ['_embedded.quotes_0']
e0_fl=flatten(e0, nested_columns)
e0_fl = e0_fl[['_embedded.quotes_0_appeared_at', '_embedded.quotes_0_created_at', '_embedded.quotes_0_quote_id', '_embedded.quotes_0_tags', '_embedded.quotes_0_updated_at', '_embedded.quotes_0_value']]
#list(e0_fl)
e0_fl

,_embedded.quotes_0_appeared_at,_embedded.quotes_0_created_at,_embedded.quotes_0_quote_id,_embedded.quotes_0_tags,_embedded.quotes_0_updated_at,_embedded.quotes_0_value
0,1999-11-01T00:00:00,2016-11-14T01:30:25.277196,y3vcRU-1TcuzVb7NHMKq4g,[Donald Trump],2016-11-14T01:30:25.277196,I think the only difference between me and oth...

In [67]:
df = pd.DataFrame(columns=['appeared_at','created_at','quote_id','tags', 'updated_at','value'], index = range(0,13))

In [70]:
liste = []
for col in list(quotes_fl):
    df_temp = pd.DataFrame(quotes_fl[col])
    liste.append(flatten(df_temp, list(df_temp)))

print(liste)

[                        _embedded.quotes_0__embedded  \
0  {'author': [{'created_at': '2016-11-14T01:14:0...

                           _embedded.quotes_0__links  \
0  {'self': {'href': '/quote/y3vcRU-1TcuzVb7NHMKq...

  _embedded.quotes_0_appeared_at _embedded.quotes_0_created_at  \
0            1999-11-01T00:00:00    2016-11-14T01:30:25.277196

  _embedded.quotes_0_quote_id _embedded.quotes_0_tags  \
0      y3vcRU-1TcuzVb7NHMKq4g          [Donald Trump]

  _embedded.quotes_0_updated_at  \
0    2016-11-14T01:30:25.277196

                            _embedded.quotes_0_value
0  I think the only difference between me and oth...  ,                         _embedded.quotes_1__embedded  \
0  {'author': [{'created_at': '2016-11-14T01:14:0...

                           _embedded.quotes_1__links  \
0  {'self': {'href': '/quote/NBSpilsPQiCLXmCnH1Gj...

  _embedded.quotes_1_appeared_at _embedded.quotes_1_created_at  \
0            1997-11-24T00:00:00    2016-11-14T01:37:28.288027

  _embedded.quotes_1_quote_id _embedded.quotes_1_tags  \
0      NBSpilsPQiCLXmCnH1GjOQ                 [Women]

  _embedded.quotes_1_updated_at  \
0    2016-11-14T01:37:28.288027

                            _embedded.quotes_1_value
0  Women have one of the great acts of all time. ...  ,                         _embedded.quotes_2__embedded  \
0  {'author': [{'created_at': '2016-11-14T01:14:0...

                           _embedded.quotes_2__links  \
0  {'self': {'href': '/quote/c1dIgMTURW-LllIZWSBE...

  _embedded.quotes_2_appeared_at _embedded.quotes_2_created_at  \
0            2016-05-06T12:38:38    2016-11-20T01:32:18.307361

  _embedded.quotes_2_quote_id _embedded.quotes_2_tags  \
0      c1dIgMTURW-LllIZWSBESA       [Hillary Clinton]

  _embedded.quotes_2_updated_at  \
0    2016-11-20T01:32:18.307361

                            _embedded.quotes_2_value
0  Crooked Hillary has ZERO leadership ability. A...  ,                         _embedded.quotes_3__embedded  \
0  {'author': [{'created_at': '2016-11-14T01:14:0...

                           _embedded.quotes_3__links  \
0  {'self': {'href': '/quote/MP1thYzSRsuSod815r_3...

  _embedded.quotes_3_appeared_at _embedded.quotes_3_created_at  \
0            2016-05-22T19:37:05    2016-11-20T01:32:46.452739

  _embedded.quotes_3_quote_id _embedded.quotes_3_tags  \
0      MP1thYzSRsuSod815r_3Gw       [Hillary Clinton]

  _embedded.quotes_3_updated_at  \
0    2016-11-20T01:32:46.452739

                            _embedded.quotes_3_value
0  How can Crooked Hillary say she cares about wo...  ,                         _embedded.quotes_4__embedded  \
0  {'author': [{'created_at': '2016-11-14T01:14:0...

                           _embedded.quotes_4__links  \
0  {'self': {'href': '/quote/RqiFmZIoQ-qtDz4QTdGL...

  _embedded.quotes_4_appeared_at _embedded.quotes_4_created_at  \
0            2016-06-06T13:23:54    2016-11-20T01:32:54.426292

  _embedded.quotes_4_quote_id _embedded.quotes_4_tags  \
0      RqiFmZIoQ-qtDz4QTdGLUQ       [Hillary Clinton]

  _embedded.quotes_4_updated_at  \
0    2016-11-20T01:32:54.426292

                            _embedded.quotes_4_value
0  Crooked Hillary is being badly criticized (for...  ,                         _embedded.quotes_5__embedded  \
0  {'author': [{'created_at': '2016-11-14T01:14:0...

                           _embedded.quotes_5__links  \
0  {'self': {'href': '/quote/Kf8F_JzNT56531u6EHab...

  _embedded.quotes_5_appeared_at _embedded.quotes_5_created_at  \
0            2016-05-17T11:58:10    2016-11-20T01:34:44.859579

  _embedded.quotes_5_quote_id _embedded.quotes_5_tags  \
0      Kf8F_JzNT56531u6EHabeQ          [Bill Clinton]

  _embedded.quotes_5_updated_at  \
0    2016-11-20T01:34:44.859579

                            _embedded.quotes_5_value
0  Amazing that Crooked Hillary can do a hit ad o...  ,                         _embedded.quotes_6__embedded  \
0  {'author': [{'created_at': '2016-11-14T01:14:0...

                           _embedded.quotes_6__links  \
0  {'self': {'href': '/quote/XD6isBqsTgGihlHvIMzx...

  _embedded.quotes_6_appeared_at _embedded.quotes_6_created_at  \
0            2015-12-23T14:20:57    2016-11-20T01:36:35.805292

  _embedded.quotes_6_quote_id _embedded.quotes_6_tags  \
0      XD6isBqsTgGihlHvIMzx4A       [Hillary Clinton]

  _embedded.quotes_6_updated_at  \
0    2016-11-20T01:36:35.805292

                            _embedded.quotes_6_value
0  The Hillary Clinton staged event yesterday was...  ,                         _embedded.quotes_7__embedded  \
0  {'author': [{'created_at': '2016-11-14T01:14:0...

                           _embedded.quotes_7__links  \
0  {'self': {'href': '/quote/HCWXDrKXTWO6ViLHtJZZ...

  _embedded.quotes_7_appeared_at _embedded.quotes_7_created_at  \
0            2016-05-17T11:46:22    2016-11-20T01:38:25.243059

  _embedded.quotes_7_quote_id _embedded.quotes_7_tags  \
0      HCWXDrKXTWO6ViLHtJZZOw       [Hillary Clinton]

  _embedded.quotes_7_updated_at  \
0    2016-11-20T01:38:25.243059

                            _embedded.quotes_7_value
0  Crooked Hillary Clinton put out an ad where I ...  ,                         _embedded.quotes_8__embedded  \
0  {'author': [{'created_at': '2016-11-14T01:14:0...

                           _embedded.quotes_8__links  \
0  {'self': {'href': '/quote/GrlBk_hCShqdI4aLm3P2...

  _embedded.quotes_8_appeared_at _embedded.quotes_8_created_at  \
0            2016-01-02T20:04:58    2016-11-20T01:40:10.804395

  _embedded.quotes_8_quote_id _embedded.quotes_8_tags  \
0      GrlBk_hCShqdI4aLm3P2Pg          [Bill Clinton]

  _embedded.quotes_8_updated_at  \
0    2016-11-20T01:40:10.804395

                            _embedded.quotes_8_value
0  I hope Bill Clinton starts talking about women...  ,                         _embedded.quotes_9__embedded  \
0  {'author': [{'created_at': '2016-11-14T01:14:0...

                           _embedded.quotes_9__links  \
0  {'self': {'href': '/quote/IhVaCBxKR5ug_EFEFJAP...

  _embedded.quotes_9_appeared_at _embedded.quotes_9_created_at  \
0            2015-08-22T22:19:05    2016-11-20T01:40:22.427582

  _embedded.quotes_9_quote_id _embedded.quotes_9_tags  \
0      IhVaCBxKR5ug_EFEFJAPeQ              [Jeb Bush]

  _embedded.quotes_9_updated_at  \
0    2016-11-20T01:40:22.427582

                            _embedded.quotes_9_value
0  Jeb Bush is weak on illegal immigration, in fa...  ,                        _embedded.quotes_10__embedded  \
0  {'author': [{'created_at': '2016-11-14T01:14:0...

                          _embedded.quotes_10__links  \
0  {'self': {'href': '/quote/c5V48kYBQz22Oxh2zpka...

  _embedded.quotes_10_appeared_at _embedded.quotes_10_created_at  \
0             2016-10-10T01:23:22     2016-11-20T01:40:40.972728

  _embedded.quotes_10_quote_id _embedded.quotes_10_tags  \
0       c5V48kYBQz22Oxh2zpkaEA           [Bill Clinton]

  _embedded.quotes_10_updated_at  \
0     2016-11-20T01:40:40.972728

                           _embedded.quotes_10_value
0  There’s never been anyone more abusive to wome...  ,                        _embedded.quotes_11__embedded  \
0  {'author': [{'created_at': '2016-11-14T01:14:0...

                          _embedded.quotes_11__links  \
0  {'self': {'href': '/quote/FEm0KINhQPauhl4rIudJ...

  _embedded.quotes_11_appeared_at _embedded.quotes_11_created_at  \
0             2016-05-17T23:42:33     2016-11-20T01:43:12.977618

  _embedded.quotes_11_quote_id _embedded.quotes_11_tags  \
0       FEm0KINhQPauhl4rIudJvQ        [Hillary Clinton]

  _embedded.quotes_11_updated_at  \
0     2016-11-20T01:43:12.977618

                           _embedded.quotes_11_value
0  Wall Street paid for ad is a fraud, just like ...  ,                        _embedded.quotes_12__embedded  \
0  {'author': [{'created_at': '2016-11-14T01:14:0...

                          _embedded.quotes_12__links  \
0  {'self': {'href': '/quote/wAgIgzV1S9OARKhfun3f...

  _embedded.quotes_12_appeared_at _embedded.quotes_12_created_at  \
0             2013-05-08T00:00:00     2016-11-14T02:10:17.906463

  _embedded.quotes_12_quote_id    _embedded.quotes_12_tags  \
0       wAgIgzV1S9OARKhfun3f0A  [Sexual Assults, Military]

  _embedded.quotes_12_updated_at  \
0     2016-12-10T10:54:56.199693

                           _embedded.quotes_12_value
0  26,000 unreported sexual assults in the milita...  ]