In [2]:
import pandas as pd

In [7]:
table = pd.read_csv('table-casques-velo.csv', sep=';', index_col=0)
table.rename(col={2: "Total"})

       Casque  Pas de casque  Unnamed: 3
Homme      29             81         110
Femme      12             39          51
Total      41            120         161

In [6]:
table

       Casque  Pas de casque  Unnamed: 3
Homme      29             81         110
Femme      12             39          51
Total      41            120         161